In [21]:
import pandas as pd

In [22]:
data=pd.read_csv(r'D:\Data Analyis\Python practice\Projects\Project-2\TWO_CENTURIES_OF_UM_RACES.csv')

C:\Users\Yonatan\AppData\Local\Temp\ipykernel_308\4195930458.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv(r'D:\Data Analyis\Python practice\Projects\Project-2\TWO_CENTURIES_OF_UM_RACES.csv')

In [23]:
import seaborn as sns

In [24]:
data.head(10)

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
0,2018,06.01.2018,Selva Costera (CHI),50km,22,4:51:39 h,Tnfrc,CHI,1978.0,M,M35,10.286,0
1,2018,06.01.2018,Selva Costera (CHI),50km,22,5:15:45 h,Roberto Echeverría,CHI,1981.0,M,M35,9.501,1
2,2018,06.01.2018,Selva Costera (CHI),50km,22,5:16:44 h,Puro Trail Osorno,CHI,1987.0,M,M23,9.472,2
3,2018,06.01.2018,Selva Costera (CHI),50km,22,5:34:13 h,Columbia,ARG,1976.0,M,M40,8.976,3
4,2018,06.01.2018,Selva Costera (CHI),50km,22,5:54:14 h,Baguales Trail,CHI,1992.0,M,M23,8.469,4
5,2018,06.01.2018,Selva Costera (CHI),50km,22,6:25:01 h,NaN,ARG,1974.0,M,M40,7.792,5
6,2018,06.01.2018,Selva Costera (CHI),50km,22,6:28:00 h,Los Patagones,ARG,1979.0,F,W35,7.732,6
7,2018,06.01.2018,Selva Costera (CHI),50km,22,6:32:24 h,Reaktiva Chile,CHI,1967.0,F,W50,7.645,7
8,2018,06.01.2018,Selva Costera (CHI),50km,22,6:39:08 h,Puro Trail Osorno,CHI,1985.0,M,M23,7.516,8
9,2018,06.01.2018,Selva Costera (CHI),50km,22,6:45:11 h,Marlene Flores Team,CHI,1976.0,M,M40,7.404,9

In [25]:
data.shape

(7461195, 13)

In [26]:
data.dtypes

Year of event                  int64
Event dates                   object
Event name                    object
Event distance/length         object
Event number of finishers      int64
Athlete performance           object
Athlete club                  object
Athlete country               object
Athlete year of birth        float64
Athlete gender                object
Athlete age category          object
Athlete average speed         object
Athlete ID                     int64
dtype: object

In [27]:
#step 1 show 50Mi or 50k
#50km
#50mi
data[data['Event distance/length']=='50Km']

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
2215552,2019,17.08.2019,Capes 50 Km (CAN),50Km,114,5:02:25 h,NaN,CAN,NaN,M,NaN,0,737222
2215553,2019,17.08.2019,Capes 50 Km (CAN),50Km,114,5:11:53 h,NaN,CAN,NaN,M,NaN,0,737223
2215554,2019,17.08.2019,Capes 50 Km (CAN),50Km,114,5:23:41 h,NaN,CAN,NaN,M,NaN,0,724131
2215555,2019,17.08.2019,Capes 50 Km (CAN),50Km,114,5:26:40 h,NaN,CAN,NaN,F,NaN,0,724134
2215556,2019,17.08.2019,Capes 50 Km (CAN),50Km,114,5:34:45 h,NaN,CAN,NaN,M,NaN,0,737224
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2900719,2021,10.07.2021,Wickerstedter-Ultramarathon (GER),50Km,10,5:47:15 h,Karower Dachse,GER,1963.0,M,M55,0,45877
2900720,2021,10.07.2021,Wickerstedter-Ultramarathon (GER),50Km,10,5:58:35 h,NaN,GER,1984.0,M,M35,0,772165
2900721,2021,10.07.2021,Wickerstedter-Ultramarathon (GER),50Km,10,6:34:40 h,Radclub Wehretal,GER,1962.0,M,M55,0,51739
2900722,2021,10.07.2021,Wickerstedter-Ultramarathon (GER),50Km,10,7:08:10 h,Rhönläufer,GER,1960.0,M,M60,0,59226
2900723,2021,10.07.2021,Wickerstedter-Ultramarathon (GER),50Km,10,7:10:30 h,Haynröder Carnevalclub...,GER,1990.0,M,M30,0,110938

In [28]:
data[data['Event distance/length']=='50mi']

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
55,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,9:53:05 h,"*Middleville, MI",USA,1983.0,M,M23,8.141,55
56,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:09:35 h,"*Waterloo, ON",CAN,1977.0,F,W40,7.211,56
57,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:33:00 h,"*Kitchener, ON",CAN,1976.0,M,M40,6.967,57
58,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:38:17 h,"*Utica, MI",USA,1986.0,M,M23,6.914,58
59,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:56:35 h,"*Grass Lake, MI",USA,1988.0,M,M23,6.738,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7461181,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,11:59:37 h,NaN,USA,1941.0,M,M50,6709.0,1045603
7461182,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:01:41 h,NaN,USA,1932.0,M,M60,6690.0,1070463
7461183,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:03:26 h,NaN,USA,1934.0,F,W60,6674.0,416139
7461184,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:03:26 h,NaN,USA,1951.0,F,W40,6674.0,1098098
7461185,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:05:59 h,NaN,USA,1947.0,F,W45,6650.0,1626367

In [29]:
#Combine the 50km and 50mi
data[data['Event distance/length'].isin (['50Km','50mi'])]

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
55,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,9:53:05 h,"*Middleville, MI",USA,1983.0,M,M23,8.141,55
56,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:09:35 h,"*Waterloo, ON",CAN,1977.0,F,W40,7.211,56
57,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:33:00 h,"*Kitchener, ON",CAN,1976.0,M,M40,6.967,57
58,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:38:17 h,"*Utica, MI",USA,1986.0,M,M23,6.914,58
59,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:56:35 h,"*Grass Lake, MI",USA,1988.0,M,M23,6.738,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7461181,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,11:59:37 h,NaN,USA,1941.0,M,M50,6709.0,1045603
7461182,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:01:41 h,NaN,USA,1932.0,M,M60,6690.0,1070463
7461183,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:03:26 h,NaN,USA,1934.0,F,W60,6674.0,416139
7461184,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:03:26 h,NaN,USA,1951.0,F,W40,6674.0,1098098
7461185,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:05:59 h,NaN,USA,1947.0,F,W45,6650.0,1626367

In [30]:
data[ (data['Event distance/length'].isin (['50Km','50mi']) ) & (data['Year of event']==2020)]

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
2538571,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50mi (TPE),50mi,38,7:34:19 h,日本隊,JPN,1965.0,M,M50,10.627,53107
2538572,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50mi (TPE),50mi,38,7:43:50 h,NaN,AUS,1974.0,M,M45,10.409,8785
2538573,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50mi (TPE),50mi,38,8:04:40 h,NaN,TPE,1976.0,M,M40,9.962,4502
2538574,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50mi (TPE),50mi,38,8:30:49 h,台灣大腳ㄚ長跑協會,TPE,1969.0,F,W50,9.452,63964
2538575,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50mi (TPE),50mi,38,8:34:47 h,NaN,TPE,1964.0,M,M55,9.379,4485
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2757700,2020,08.10.2020,Täby Extreme Challenge 50 miles - Thursday (SWE),50mi,13,10:28:30 h,Sweden Runners IF,SWE,1969.0,M,M50,7.682,859639
2757701,2020,08.10.2020,Täby Extreme Challenge 50 miles - Thursday (SWE),50mi,13,10:49:55 h,Stockholm Gerillalöpare,SWE,1993.0,M,M23,7.429,859640
2757702,2020,08.10.2020,Täby Extreme Challenge 50 miles - Thursday (SWE),50mi,13,12:08:13 h,ÅTF,GBR,1980.0,M,M40,6.63,859641
2757703,2020,08.10.2020,Täby Extreme Challenge 50 miles - Thursday (SWE),50mi,13,12:33:04 h,Team Skavsåret IF,SWE,1976.0,M,M40,6.411,21883
2757704,2020,08.10.2020,Täby Extreme Challenge 50 miles - Thursday (SWE),50mi,13,12:47:26 h,CRD Runnerd,SWE,1980.0,F,W40,6.291,859642

In [33]:
data[data["Event name"]=="Everglades 50 Mile Ultra Run (USA)"]

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
51923,2018,17.02.2018,Everglades 50 Mile Ultra Run (USA),50mi,23,7:00:00 h,*Tadworth,GBR,1980.0,M,M35,11.495,47601
51924,2018,17.02.2018,Everglades 50 Mile Ultra Run (USA),50mi,23,8:29:48 h,"*Fort Lauderdale, FL",USA,1989.0,M,M23,9.47,37220
51925,2018,17.02.2018,Everglades 50 Mile Ultra Run (USA),50mi,23,8:45:31 h,"*Miami, FL",USA,1979.0,M,M35,9.187,47602
51926,2018,17.02.2018,Everglades 50 Mile Ultra Run (USA),50mi,23,9:01:52 h,"*Fort Lauderdale, FL",USA,1967.0,M,M50,8.91,47603
51927,2018,17.02.2018,Everglades 50 Mile Ultra Run (USA),50mi,23,9:26:06 h,"*Naples, FL",USA,1986.0,M,M23,8.529,47604
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6417091,2015,21.02.2015,Everglades 50 Mile Ultra Run (USA),50mi,67,13:24:08 h,*Saarbrücken,GER,1968.0,M,M45,6.004,198009
6417092,2015,21.02.2015,Everglades 50 Mile Ultra Run (USA),50mi,67,13:24:08 h,*Saarbrücken,GER,1974.0,F,W40,6.004,198010
6417093,2015,21.02.2015,Everglades 50 Mile Ultra Run (USA),50mi,67,13:40:57 h,"*Weston, FL",USA,1972.0,F,W40,5.881,361182
6417094,2015,21.02.2015,Everglades 50 Mile Ultra Run (USA),50mi,67,13:55:09 h,"*Merritt Island, FL",USA,1960.0,M,M50,5.781,1479954
6417095,2015,21.02.2015,Everglades 50 Mile Ultra Run (USA),50mi,67,13:55:14 h,"*Miami, FL",USA,1983.0,M,M23,5.78,410816

In [35]:
data[data["Event name"]=="Everglades 50 Mile Ultra Run (USA)"]["Event name"].str.split('(').str.get(1).str.split(')').str.get(0)

51923      USA
51924      USA
51925      USA
51926      USA
51927      USA
          ...
6417091    USA
6417092    USA
6417093    USA
6417094    USA
6417095    USA
Name: Event name, Length: 338, dtype: object

In [37]:
data[data["Event name"].str.split('(').str.get(1).str.split(')').str.get(0)=='USA']

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
55,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,9:53:05 h,"*Middleville, MI",USA,1983.0,M,M23,8.141,55
56,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:09:35 h,"*Waterloo, ON",CAN,1977.0,F,W40,7.211,56
57,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:33:00 h,"*Kitchener, ON",CAN,1976.0,M,M40,6.967,57
58,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:38:17 h,"*Utica, MI",USA,1986.0,M,M23,6.914,58
59,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:56:35 h,"*Grass Lake, MI",USA,1988.0,M,M23,6.738,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7461181,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,11:59:37 h,NaN,USA,1941.0,M,M50,6709.0,1045603
7461182,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:01:41 h,NaN,USA,1932.0,M,M60,6690.0,1070463
7461183,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:03:26 h,NaN,USA,1934.0,F,W60,6674.0,416139
7461184,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:03:26 h,NaN,USA,1951.0,F,W40,6674.0,1098098
7461185,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:05:59 h,NaN,USA,1947.0,F,W45,6650.0,1626367

In [38]:
data[ (data['Event distance/length'].isin (['50Km','50mi']) ) & (data['Year of event']==2020)&(data["Event name"].str.split('(').str.get(1).str.split(')').str.get(0)=='USA')]

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
2542134,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,8:51:11 h,"*Phoenix, AZ",USA,1987.0,M,M23,9.089,86674
2542135,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,11:37:15 h,"*Phoenix, AZ",USA,1985.0,M,M23,6.924,53268
2542136,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,11:59:00 h,*London,GBR,1988.0,M,M23,6.715,778567
2542137,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,12:04:40 h,"*Fpo, AZ",USA,1979.0,M,M40,6.662,209242
2542138,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,12:26:20 h,"*Saint Paul, MN",USA,1997.0,M,MU23,6.469,810742
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2757274,2020,10.10.2020,Old Cascadia 50 Mile Race (USA),50mi,54,16:05:34 h,"*Leavenworth, WA",USA,1977.0,M,M40,5,25686
2757275,2020,10.10.2020,Old Cascadia 50 Mile Race (USA),50mi,54,16:22:12 h,"*Eureka, CA",USA,1964.0,M,M55,4.916,346689
2757276,2020,10.10.2020,Old Cascadia 50 Mile Race (USA),50mi,54,16:46:54 h,"*Edmonds, WA",USA,1993.0,M,M23,4.795,653366
2757277,2020,10.10.2020,Old Cascadia 50 Mile Race (USA),50mi,54,16:46:56 h,"*Lake Stevens, WA",USA,1977.0,F,W40,4.795,54286
2757278,2020,10.10.2020,Old Cascadia 50 Mile Race (USA),50mi,54,17:51:56 h,"*Novato, CA",USA,1957.0,M,M60,4.504,241915

In [39]:
data2=data[ (data['Event distance/length'].isin (['50Km','50mi']) ) & (data['Year of event']==2020)&(data["Event name"].str.split('(').str.get(1).str.split(')').str.get(0)=='USA')]

In [41]:
data2.head(10)

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
2542134,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,8:51:11 h,"*Phoenix, AZ",USA,1987.0,M,M23,9.089,86674
2542135,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,11:37:15 h,"*Phoenix, AZ",USA,1985.0,M,M23,6.924,53268
2542136,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,11:59:00 h,*London,GBR,1988.0,M,M23,6.715,778567
2542137,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,12:04:40 h,"*Fpo, AZ",USA,1979.0,M,M40,6.662,209242
2542138,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,12:26:20 h,"*Saint Paul, MN",USA,1997.0,M,MU23,6.469,810742
2542139,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,12:30:10 h,"*Prescott, AZ",USA,1965.0,M,M50,6.436,46996
2542140,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,12:47:18 h,"*Phoenix, AZ",USA,1979.0,F,W40,6.292,47250
2542141,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,13:56:23 h,"*Phoenix, AZ",USA,1974.0,M,M45,5.773,344444
2542142,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,13:56:26 h,"*Las Vegas, NV",USA,1977.0,M,M40,5.772,155125
2542143,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,14:15:39 h,"*Phoenix, AZ",USA,1974.0,F,W45,5.643,183117

In [43]:
data2.shape

(5668, 13)